<h1>Funker Login</h1>

<p>Please enter...</p>

<%= form_for :user, url: "/sessions", method: "post" do |f| %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
  <div>
    <%= f.label :email, 'your email' %>
    <%= f.text_field :email  %>
  </div>
  <div>
    <%= f.label :password, 'your password' %>

    <%= f.text_field :password %>
  </div>
  <div>
    <%= f.submit "Get ready to funk!" %>
  </div>
<% end %>