<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<h1> Funker Sign Up Page </h1>

<%= form_for :user, url: "/users", method: "post" do |f| %>

<%= f.text_field :username %>

<%= f.text_field :email %>

<%= f.text_field :password %>

<%= f.submit "Get Your Funk On" %>

<% end %>